* {
    margin:0;
    text-decoration: none;
    padding: 0;
    list-style: none;
    font-family: "Montserrat" , sans-serif;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

#header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: white;

    transition: 0.1s;
}

.innerHeader{
    display: flex;
    width: 90%;
}

.logoContainer{
    display: flex;
    align-items: center;
}

.logo{
    height: 90%;
}

.navigationContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100px;
    height: 100%;
    transition-duration: 0.1s;
}
.nav1:hover{
    background-color: rgb(236, 236, 236);
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100px;
    height: 100%;
    transition-duration: 0.1s;
}
.nav2:hover{
    background-color: rgb(236, 236, 236);
}
.nav3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100px;
    height: 100%;
    transition-duration: 0.1s;
}
.nav3:hover{
    background-color: rgb(236, 236, 236);
}
.nav4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100px;
    height: 100%;
    transition-duration: 0.1s;
    cursor: pointer;
}
.nav4:hover{
    background-color: rgb(236, 236, 236);
}


.p1Container{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    background-image: url("images/cubeBG.jpg");
    background-size: cover;
}

.p1Buttons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
}

.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    height: 50px;
    width: 300px;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.2s;
}
.button1:hover{
    background-color: rgb(255, 255, 255, 0.8);
}

.p1text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.p2Container{
    display: flex;
    background-image: url("images/chessPic.jpg");
    background-size: cover;
    background-position: 80px;
    width: 100%;
    height: 90vh;
    min-height: 400px;
    align-items: flex-end;
}

.p2Items{
    padding-bottom: 10%;
    padding-left: 10%;
}
.p2Items span{
    font-size: 50px;
    font-weight: bold;
}
.p2Text{
    color: white;
    font-size: 30px;
}
.button2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid;
    border-color: white;
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    width: 200px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    transition-duration: 0.2s;
}
.button2:hover{
    background-color: rgba(255, 255, 255, 0.24);
}

.p3Container{
    display: flex;
    background-image: url("images/bg\ with\ spheres.jpg");
    background-size: cover;
    align-items: flex-end;
    width: 100%;
}

.p3Bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(16, 16, 16, 0.9);
}

.p3Items{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1%;
    width: 45%;
    height: 140px;
    min-width: 600px;
    background-color: rgb(39, 39, 39);
    border-radius: 5px;
    gap: 5%;
    color: white;
}

.itemPic{
    height: 140px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.productBoxL{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
    width: 80%;
}

.productBoxR{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.productInfo{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shopButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    cursor: pointer;

    border-radius: 5px;
    border-width: 2px;
    height: 40px;
    width: 70px;
    font-size: 15px;

    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: white;

    transition-duration: 0.2s;
}
.shopButton:hover{
    background-color: rgba(255, 255, 255, 0.24);
}

#cart{
    position: fixed;
    right: -100%;
    width: 30%;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.589);
    transition: 0.3s;
}

.cartTitle{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
}

.cartImg{
    height: 100px;
    padding-left: 10px;
}

.closeCartDiv{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#closeCart{
    display: flex;
    padding-left: 100%;
}

.closeIcon{
    height: 30px;
    cursor: pointer;
}

.btnBuy{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100px;
}

.cartBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.cartContent{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-top: 20px;
}

.detailBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.cartQuantity{
    width: 40px;
}

.cartPrice{
    font-weight: 600;
}

.cartRemove{
    padding-right: 10px;
    cursor: pointer;
    justify-self: flex-end;
}

.removeIcon{
    height: 30px;
}

.total{
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
    width: 90%;
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 5px;
    border-top: solid;
    border-top-width: 1.5px;
}

.trashImg{
    height: 40px;
}

.totalTitle{
    font-weight: 600;
}

.btnBuy{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    height: 50px;
    width: 200px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    align-self: center;
    transition: 0.2s;
}
.btnBuy:hover{
    background-color: rgb(171, 255, 206);
}

.addedProduct{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#contactPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 15, 15);
    color: rgb(255, 255, 255);
}

.contactContainer{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}

.contactBox{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.socialMediaBox{
    padding-left: 50px;
}

.socialMedia{
    display: flex;
    gap: 20px;
    padding-top: 15px;
}

@media (max-width: 1200px){
    #cart{
        width: 100%;
        align-items: center;
    }
    .cartContent{
        width: 50%;
        min-width: 325px;
    }
    .total{
        width: 50%;
    }
    .p2Container{
        background-position: -300px;
    }
}

@media (max-width: 625px){
    .productInfo h4{
        font-size: 0%;
    }

    .product{
        min-width: 400px;
    }
    .contactContainer{
        flex-direction: column;
        align-items: center;
    }
    .contactBox{
        width: 90%;
    }
    .socialMediaBox{
        width: 90%;
        padding: 0;
        padding-top: 15px;
        margin-top: 30px;
        border-top-width: 5px;
        border-top: solid;
    }
}

@media (max-width: 425px){
    .product{
        min-width: 400px;
        flex-direction: column;
        height: fit-content;
        width: fit-content;

        min-width: 0;
        padding: 0;
        margin: 0;
        gap: 0;
    }
    .itemPic{
        border-radius: 5px;
    }
    .productBoxL{
        flex-direction: column;
        width: fit-content;
    }
    .productBoxR{
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .addedProduct{
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 10px;
    }
    .detailBox{
        align-items: center;
        padding: 0;
    }
    .cartImg{
        padding: 0;
        margin: 0;
    }
    .trashImg{
        padding: 0;
    }
}